html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    width: 1700px;
    height: 1966px;
    margin: 0;
    padding: 0;
}

.header {
    width: 1700px;
    height: 249px;
}

.header__logo {
    font-size: 106px;
    margin-top: 81px;
    margin-left: 134px;
}
.header__logo a{
    text-decoration: none;
    color: black;
}

span.header__logo-color {
    color: #4bcaff;
    overflow: hidden;
}

.header__list {
    list-style-type: none;
    display: table;
    width: 1700px;
    height: 92px;
    font-size: 32px;
    margin-left: 94px;
}

.header__list-item {
    display: table-cell;
    position: relative;
    bottom: 0;
    text-decoration: none;
    text-align: center;
    background-color: #35444f;
}

.header__list-item:hover {
    background-color: #222f3a;
}

.header__list-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 25px;
}

.main {
    display: inline-block;
    width: 1833px;
}

.main1 {
    width: 651px;
    display: inline-block;
}

.main__menu {
    width: 457px;
    height: 530px;
    border: 1px solid black;
    font-size: 40px;
    margin-left: 134px;
    list-style-type: none;
    line-height: 100px;
    display: inline-block;
    padding: 0;
}

.main__menu-item {
    text-decoration: none;
    width: 100%;
    text-align: left;
}
.main__menu-item>a{
    position: relative;
    left: 30px;
}
.main__menu-item>a:hover{
    background-color: #dbdbdb;
    font-weight: bolder;
    margin-left: 40px; 
}

.main__menu-item:hover {
    background-color: #dbdbdb;
    font-weight: bolder;
}

.main__menu-item a {
    width: 100%;
    text-decoration: none;
    color: #485863;
}

.main__pic {
    border: 1px solid black;
    width: 1173px;
    height: 701px;
    display: inline-block;
    margin-top: 70px;
    position: relative;
    top: 15px;
}

.main__pic-logo {
    margin-left: 394px;
    margin-top: 100px;
}

.main__text {
    width: 1089px;
    height: 336px;
    font-size: 24px;
    margin-left: 699px;
    margin-top: 65px;
}

.footer {
    width: 1700px;
    height: 92px;
    background-color: #b4b7ba;
    display: table;
    font-size: 37px;
    margin-left: 134px;
    margin-top: 50px;
}

.footer_list {
    list-style-type: none;
    display: table;
    width: 88%;
}

.footer__list-item {
    display: table-cell;
    position: relative;
}

.footer__list-item a:hover {
    color: #3181a6;
    text-decoration: underline;
}

.footer__list-item a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 20px;
}

.footer__copyright {
    font-size: 32px;
    color: black;
    width: 20%;
    display: table-cell;
}